snippet met
public function $1($2)
{

}
endsnippet

snippet phpunit
class $1Test extends PHPUnit_Framework_TestCase
{
	/** @test */
	public function $2()
	{
		$0
	}
}
endsnippet

snippet phpunitl
class $1Test extends TestCase
{
	/** @test */
	public function $2()
	{
		$0
	}
}
endsnippet

snippet test
/** @test */
public function $1()
{
	$0
}
endsnippet
